@font-face {
  font-family:harabara;
  src:url('../fonts/Harabara Mais Demo.otf');
}

html, body{
	height:100%;
}

.header {
	min-height:60px;
	border-bottom:2px solid #cccccc;
}

.header .logo{
	float:left;
}

.header .nav-item{
	font-family:arial, sans-serif;
	font-size:18px;
	float:right;
	padding:4px 6px;
	padding-top:24px;
	padding-bottom:10px;
	color:#444444;
	cursor:pointer;
}

.header .nav-item:hover{
	background-color:#f4f4f4;
	text-decoration:none;
}

.header .nav-item:visited, .header .nav-item:link{
	text-decoration:none;
}

.banner{
	margin:10px 0;
	text-align:center;
	font-size:40px;
	font-color:#444444;
	font-family:Arial, sans-serif;
}

.back_button{
	color:#777777;
	margin-top:5px;
	font-size:30px;
	font-family:Arial, sans-serif;
	cursor:pointer;
}

.back_button:hover{
	color:#444444;
}

.footer {
	border-top:1px solid #cccccc;
	padding:10px 0px;
	color:#444444;
	font-size:14px;
	margin-top:20px;
}

.footer a {
	cursor:pointer;
	color:#444444;
	display:inline;
	padding:3px 10px;
}

.footer a:hover {
	color:#141414;
}

.footer .copyright{
	display:inline;
	padding:3px 10px;
	color:#0090ff;
}

.login_helper{
	text-decoration:underline;
	color:#cccccc;
	font-family:Arial, sans-serif;
	font-size:18px;
	float:right;
	margin:50px 10px 10px 0;
}

.login_banner{
	width:400px;
	color:#ffffff;
	padding:4px 15px;
	font-size:32px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	background-color:#0090ff;
	border-bottom:2px solid #ffffff;
}

.login_form{
	width:400px;
	background-color:#0090ff;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
	border-top:2px solid #ffffff;
	text-align:center;
}

.login_input{
	width:370px;
	font-size:24px;
	font-family:Arial, sans-serif;
	height:44px;
	color:#787878;
	padding:2px 8px;
	margin-top:15px;
	border-radius:7px;
	border:none;
}

.login_btn{
	width:370px;
	margin-top:15px;
	font-size:36px;
	border:1px solid #cccccc;
	font-family:harabara, sans-serif;
	color:#ffffff;
	text-align:center;
	border-radius:7px;
	background: linear-gradient(#f4711a, #ed8038);
}

.login_btn:hover{
	background:#ff7800;
}

.classes_overview{
	border-radius:7px;
	border:2px solid #f4711a;
	padding:10px 15px;
	margin-top:5px;
	font-family:Arial, sans-serif;
	cursor:pointer;
}

.classes_overview:hover{
	background-color:#f4f4f4;
}

.classes_overview .class_name{
	color:#f4711a;
	font-size:32px;
	white-space:nowrap;
}

.classes_overview .class_label{
	color:#444444;
	font-size:20px;
	margin-top:16px;
	text-align:right;
}

.classes_overview .class_info{
	color:#444444;
	font-size:20px;
	margin-top:16px;
}

.classes_overview .class_action{
	color:#0090ff;
	font-size:18px;
	float:right;
	display:block;
}

.info{
	color:#444444;
	font-size:16px;
}

.class_header{
	color:#f4711a;
	font-family:harabara, sans-serif;
	font-size:36px;
}

.class_section{
	border:2px solid #f4711a;
	border-radius:7px;
	min-height:250px;
	max-height:calc(100vh - 251px);
	overflow:scroll;
}

.class_btn{
	margin-top:4px;
	width:100%;
	right:15px;
	background: linear-gradient(#0090ff, #38a0f1);
	border:1px solid #cccccc;
	font-family:harabara, sans-serif;
	font-size:24px;
	line-height:32px;
	border-radius:7px;
	color:#ffffff;
}

.class_btn:hover{
	background:#0874c8;
}

.class_item{
	margin:5px;
	border:2px solid #cccccc;
	border-radius:5px;
	padding:5px;
	height:60px;
	cursor:pointer;
}

.class_item:hover{
	background-color:#f4f4f4;
}

.class_item .item_title{
	color:#787878;
	font-family:harabara, sans-serif;
	font-size:28px;
	display:inline;
}

.class_item .item_label{
	color:#444444;
	font-family:Arial, sans-serif;
	font-size:20px;
	margin-top:4px;
	display:inline;
	float:right;
	padding-right:10px;
}

.class_item .item_info_sm{
	width:80px;
	color:#444444;
	font-family:Arial, sans-serif;
	margin-top:4px;
	font-size:20px;
	display:inline;
	float:right;
}

.class_item .item_info_lg{
	color:#444444;
	font-family:Arial, sans-serif;
	margin-top:4px;
	font-size:20px;
	display:inline;
	float:right;
}

.class_item .item_info_rmv{
	color:#E10E1F;
	font-family:Arial, sans-serif;
	margin-top:7px;
	margin-right:10px;
	font-size:20px;
	display:inline;
	float:right;
}

.class_item .item_info_add{
	color:#20B002;
	font-family:Arial, sans-serif;
	margin-top:7px;
	margin-right:10px;
	font-size:20px;
	display:inline;
	float:right;
}

.selection_label{
	color:#444444;
	font-size:28px;
}

.selection_input{
	font-size:24px;
	font-family:Arial, sans-serif;
	height:44px;
	color:#787878;
	padding:2px 8px;
	width:100%;
	border-radius:7px;
	border:2px solid #f4711a;
}

.eval_scale{
	border-radius:7px;
	border:2px solid #f4711a;
	padding:5px;
	margin-bottom:15px;
}

.eval_scale .scale_option{
	border-radius:7px;
	border:2px solid #cccccc;
	min-height:60px;
	margin:5px 0;
	padding:5px;
}

.eval_btn{
	margin-top:4px;
	width:100%;
	background: linear-gradient(#0090ff, #38a0f1);
	border:1px solid #cccccc;
	font-family:harabara, sans-serif;
	font-size:28px;
	line-height:36px;
	border-radius:7px;
	color:#ffffff;
	margin-top:10px;
}

.eval_btn:hover{
	background:#0874c8;
}

.eval_delete_btn{
	margin-top:4px;
	width:100%;
	background: linear-gradient(#d11919, #ba1818);
	border:1px solid #cccccc;
	font-family:harabara, sans-serif;
	font-size:28px;
	line-height:36px;
	border-radius:7px;
	color:#ffffff;
	margin-top:10px;
}

.eval_delete_btn:hover{
	background:#8a0101;
}

.table_header{
	color:#222222;
	word-wrap:normal;
}

.table_header_hard{
	color:#444444;
	word-wrap:normal;
	width:100px;
	text-align:center;
}

.table_row{
	color:#222222;
}

.table_row_hard{
	color:#222222;
	width:100px;
	text-align:center;
}

.table_row:hover{

}
