@font-face {
  font-family:harabara;
  src:url('../fonts/Harabara Mais Demo.otf');
}

.header {
	min-height:60px;
	border-bottom:2px solid #cccccc;
}

.header .logo{
	float:left;
}

.header .nav-item{
	font-family:arial, sans-serif;
	font-size:18px;
	float:right;
	padding:4px 6px;
	margin-top:24px;
	color:#444444;
}

.banner{
	margin:10px 0;
	text-align:center;
	font-size:40px;
	font-color:#444444;
	font-family:harabara;
}

.footer {
	border-top:1px solid #cccccc;
	padding:10px 0px;
	color:#444444;
	font-size:14px;
}

.footer a {
	cursor:pointer;
	color:#444444;
	display:inline;
	padding:3px 10px;
}

.footer a:hover {
	color:#141414;
}

.footer .copyright{
	display:inline;
	padding:3px 10px;
	color:#0090ff;
}

.login_helper{
	text-decoration:underline;
	color:#cccccc;
	font-family:Arial, sans-serif;
	font-size:18px;
	float:right;
	margin:50px 10px 10px 0;
}

.login_banner{
	width:400px;
	color:#ffffff;
	padding:4px 15px;
	font-size:32px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	background-color:#0090ff;
	border-bottom:2px solid #ffffff;
}

.login_form{
	width:400px;
	background-color:#0090ff;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
	border-top:2px solid #ffffff;
	text-align:center;
}

.login_input{
	width:370px;
	font-size:24px;
	font-family:Arial, sans-serif;
	height:44px;
	color:#444444;
	padding:2px 8px;
	margin-top:15px;
	border-radius:7px;
	border:none;
}

.login_btn{
	width:370px;
	margin-top:15px;
	font-size:36px;
	border:1px solid #cccccc;
	font-family:harabara;
	color:#ffffff;
	text-align:center;
	border-radius:7px;
	background: linear-gradient(#f4711a, #ed8038);
}

.class_overview{
	border-radius:7px;
	border:2px solid #f4711a;
	padding:10px 15px;
	margin-top:5px;
	font-family:Arial, sans-serif;
}

.class_overview .class_name{
	color:#f4711a;
	font-size:36px;
}

.class_overview .class_info{
	color:#444444;
	font-size:20px;
	margin-top:16px;
}

.class_overview .class_action{
	color:#0090ff;
	font-size:18px;
	float:right;
	display:block;
}


