<div class="row">
	<div class="banner col-md-4 col-md-offset-4">
		<h1>Add Teacher</h1>
	</div>
</div>

<hr/>

<form name="EvaluationTemplate" role="form">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<label for="FirstName" class="selection_label">First Name</label>
			<input type="text" id="FirstName" name="first_name" class="selection_input" 
			ng-model="add_teacher_ctrl.teacher.first_name" placeholder="Teacher's First Name" autofocus />			
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<label for="LastName" class="selection_label">Last Name</label>
			<input type="text" id="LastName" name="last_name" class="selection_input" 
			ng-model="add_teacher_ctrl.teacher.last_name" placeholder="Teacher's Last Name" autofocus />			
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<label for="Email" class="selection_label">Email</label>
			<input type="text" id="Email" name="email" class="selection_input" 
			ng-model="add_teacher_ctrl.teacher.email" placeholder="Teacher's Email Address" autofocus />			
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<button type="submit" class="selection_btn col-md-4 col-md-offset-4"
			ng-click="add_teacher_ctrl.createTeacher(add_teacher_ctrl.teacher)">
				Add Teacher
			</button>
		</div>
	</div>
</form>
