<div class="row">
	<div class="banner col-md-4 col-md-offset-4">
		{{ name }}
	</div>
</div>


<div class="row">
	<div class="col-md-6">
		<div class="row">
			<div class="class_header col-md-6">
				Evaluations
			</div>

			<button class="class_btn col-md-6" ng-click="newEvaluation()">
				+ New Evaluation
			</button>
		</div>

		<div class="class_section">
			<div class="class_item" ng-repeat="eval in evaluations" ng-click="editEvaluation(eval)">
				<div class="item_title">
					{{ eval.name }}
				</div>

				<div class="item_info_sm">
					{{ eval.scale }}
				</div>

				<div class="item_label">
					Scale:
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="row">
			<div class="class_header col-md-6">
				Students
			</div>
		</div>

		<div class="class_section">
			<div class="class_item" ng-repeat="student in students">
				<div class="item_title">
					{{ student.name }}
				</div>

				<div class="item_info_lg">
					{{ student.email }}
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
