<div class="row">
	<div class="banner col-md-4 col-md-offset-4">
		<h1>Create School</h1>
	</div>
</div>

<hr/>

<form name="NewSchool" role="form">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<label for="Name" class="selection_label">Name</label>
			<input type="text" id="Name" name="name" class="selection_input" 
			ng-model="create_school_ctrl.new_school.name" placeholder="Enter the school's name" autofocus />			
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<button type="submit" class="selection_btn col-md-4 col-md-offset-4" 
			ng-click="create_school_ctrl.createSchool(create_school_ctrl.new_school)">
				Create Evaluation
			</button>
		</div>
	</div>
</form>
