<div class="row">
	<div class="banner col-md-4 col-md-offset-4">
		<h1>{{edit_class_ctrl.header}}</h1>
	</div>
</div>

<hr/>

<form name="Classes" role="form">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<label for="Name" class="selection_label">Name</label>
			<input type="text" id="Name" name="name" class="selection_input" 
			ng-model="edit_class_ctrl.school_class.name" placeholder="Class's Name" autofocus />			
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<label for="Days" class="selection_label">Days</label>
			<input type="text" id="Days" name="days" class="selection_input" 
			ng-model="edit_class_ctrl.school_class.days" placeholder="E.g. 'MWF'" />			
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<label class="selection_label">Start Time</label><br>
			<label class="time_label col-md-1">Hour:</label>
			<select id="StartHour" class="selection_input col-md-2" ng-model="edit_class_ctrl.start_hour">
				<option value="01">1</option>
				<option value="02">2</option>
				<option value="03">3</option>
				<option value="04">4</option>
				<option value="05">5</option>
				<option value="06">6</option>
				<option value="07">7</option>
				<option value="08">8</option>
				<option value="09">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="00">12</option>
			</select>

			<label class="time_label col-md-2">Minute:</label>
			<select id="StartMin" class="selection_input col-md-2" ng-model="edit_class_ctrl.start_min">
				<option value="00">00</option>
				<option value="15">10</option>
				<option value="30">20</option>
				<option value="45">30</option>
				<option value="45">40</option>
				<option value="45">50</option>
			</select>

			<label class="time_label col-md-2">AM/PM:</label>
			<select class="selection_input col-md-2" ng-model="edit_class_ctrl.start_ampm">
				<option value="am">AM</option>
				<option value="pm">PM</option>
			</select>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<label class="selection_label">End Time</label><br>
			<label class="time_label col-md-1">Hour:</label>
			<select id="EndHour" class="selection_input col-md-2" ng-model="edit_class_ctrl.end_hour">
				<option value="01">1</option>
				<option value="02">2</option>
				<option value="03">3</option>
				<option value="04">4</option>
				<option value="05">5</option>
				<option value="06">6</option>
				<option value="07">7</option>
				<option value="08">8</option>
				<option value="09">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="00">12</option>
			</select>

			<label class="time_label col-md-2">Minute:</label>
			<select id="EndMin" class="selection_input col-md-2" ng-model="edit_class_ctrl.end_min">
				<option value="00">00</option>
				<option value="15">10</option>
				<option value="30">20</option>
				<option value="45">30</option>
				<option value="45">40</option>
				<option value="45">50</option>
			</select>

			<label class="time_label col-md-2">AM/PM:</label>
			<select class="selection_input col-md-2" ng-model="edit_class_ctrl.end_ampm">
				<option value="am">AM</option>
				<option value="pm">PM</option>
			</select>		
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<label for="Teacher" class="selection_label">Teacher</label>
			
			 <select id="Teacher" name="teacher_id" class="selection_input"
			ng-model="edit_class_ctrl.school_class.teacher_id"
			ng-options="teacher.id as teacher.full_name for teacher in edit_class_ctrl.teachers">
			</select>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<button type="submit" class="selection_btn col-md-4 col-md-offset-4" ng-if="!edit_class_ctrl.edit" 
			ng-click="edit_class_ctrl.createClass(edit_class_ctrl.school_class)">
				Create Class
			</button>
			<button type="submit" class="selection_btn col-md-4 col-md-offset-1" ng-if="edit_class_ctrl.edit" 
			ng-click="edit_class_ctrl.editClass(edit_class_ctrl.school_class)">
				Edit Class
			</button>
			<button type="submit" class="selection_delete_btn col-md-4 col-md-offset-1" ng-if="edit_class_ctrl.edit"
			ng-click="edit_class_ctrl.deleteClass(edit_class_ctrl.school_class)">
				Delete Class
			</button>
		</div>
	</div>
</form>
