<div ng-show="login_error" class="alert">{{login_error}}</div>

<div class="login_panel">
  <div class="login_banner">
    Log In
  </div>
  <div class="login_form">
    <form name="loginform" ng-submit="login()" role="form">
      <input type="text" name="username" class="login_input" ng-model="user.username" placeholder="Enter Username or Email" autofocus required />
      <input type="password" name="password" class="login_input" id="password" ng-model="user.password" placeholder="Enter Password" required />
      <button type="submit" class="login_btn">Sign In</button>
    </form>
  </div>
  <a href="#/login_help" class="login_helper">
    Can't Log In?
  </a>
</div>