<div class="row">
	<div class="back_button col-md-3" ng-click="manage_class_ctrl.backButton()">
		&lt; Back
	</div>
	<div class="banner col-md-6">
		Class Manager
	</div>
</div>

<div class="row">
	<div class="class_header col-md-4">
		School's Classes
	</div>

	<div class="class_header col-md-4 col-md-offset-2">
		Your Classes
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="class_section">
			<div class="class_item" ng-repeat="class in manage_class_ctrl.available_classes" ng-click="manage_class_ctrl.setTeacher(class)">
				<div class="item_title">
					{{ class.name }}
				</div>

				<div class="item_info_add">
					Add This Class
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="class_section">
			<div class="class_item" ng-repeat="class in manage_class_ctrl.my_classes" ng-click="manage_class_ctrl.removeTeacher(class)">
				<div class="item_title">
					{{ class.name }}
				</div>

				<div class="item_info_rmv">
					Remove This Class
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
