<div class="row">
	<div class="banner col-md-6 col-md-offset-3">
		Reset Account Password
	</div>
</div>

<hr />

<form name="ResetPassword" role="form" ng-submit="password_reset_ctrl.resetPassword()">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<label class="selection_label">Email:</label>
			<input type="text" id="email" name="email" class="selection_input" ng-model="password_reset_ctrl.user.email" ng-disabled="true"></input>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<label for="password" class="selection_label">Password:</label>
			<input type="password" id="password" name="password" class="selection_input" 
			ng-model="password_reset_ctrl.user.password" placeholder="New Password" autofocus />		
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<label for="password_confirm" class="selection_label">Confirm Password:</label>
			<input type="password" id="password_confirm" name="password_confirm" class="selection_input" 
			ng-model="password_reset_ctrl.user.password_confirmation" placeholder="Confirm new password" autofocus />		
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<button type="submit" class="selection_btn col-md-6 col-md-offset-3">
				Reset Your Password
			</button>
		</div>
	</div>
</form>
