<div class="row">
	<div class="banner col-md-6 col-md-offset-3">
		Password Recovery
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<p>
			In order to recover your Particip8 account, you must provide the email used to create the account.
		</p>
		<p>
			Instructions to reset your password will be sent via an email to the provided account
		</p> 
	</div>
</div>		

<hr />

<form name="EmailVerification" role="form" ng-submit="prelim_reset_ctrl.passwordResetEmail()">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<label for="email" class="selection_label">Email:</label>
			<input type="text" id="email" name="email" class="selection_input" 
			ng-model="prelim_reset_ctrl.email" placeholder="Your Email Address" autofocus />			
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<button type="submit" class="selection_btn col-md-6 col-md-offset-3">
				Send Reset Email
			</button>
		</div>
	</div>
</form>