<div class="row">
	<div class="banner col-md-6 col-md-offset-3">
		Email Verification
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<p style="text-align:center">
			Particip8 requires you to use a valid email address as a district administrator. Please enter your email address below and a verification email will be sent to you.
		</p> 
	</div>
</div>		

<hr />

<form name="EmailVerification" role="form" ng-submit="prelim_signup_ctrl.verifyEmail()">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<label for="email" class="selection_label">Email:</label>
			<input type="text" id="email" name="email" class="selection_input" 
			ng-model="prelim_signup_ctrl.email" placeholder="Your Email Address" autofocus />			
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<label for="email" class="selection_label">District Name:</label>
			<input type="text" id="district" name="district" class="selection_input"
			ng-model="prelim_signup_ctrl.district_name" placeholder="District Name">
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<button type="submit" class="selection_btn col-md-6 col-md-offset-3">
				Send Verification Email
			</button>
		</div>
	</div>
</form>