<div class="row">
	<div class="banner col-md-6 col-md-offset-3">
		Report
	</div>
</div>

<p>Classroom: {{report_selection_ctrl.selections.class_id}}</p>
<p>Time Period: {{report_selection_ctrl.selections.time_period}}</p>

<form name="ReportSelectionForm" role="form" ng-submit="report_selection_ctrl.submit()">
	
	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			<div class="row">
				<div class="col-md-12">
					<label for="classroom_selection_field">Classroom</label>
					<select id="classroom_selection_field" name="classroom_selection"
					ng-model="report_selection_ctrl.selections.class_id"
					ng-selected="1"
					ng-options="classroom.id as classroom.name for classroom in report_selection_ctrl.class_selections">
					</select>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<label for="time_period_selection_field">Time Period</label>
					<select id="time_period_selection_field" name="time_period_selection_field"
					ng-model="report_selection_ctrl.selections.time_period"
					value="report_options_ctrl.selection.time_period">
						<option ng-repeat="time_period in report_selection_ctrl.time_periods"
						value="{{time_period}}">
							time_period
						</option>
					</select>
				</div>			
			</div>

			<div class="row">
				<button type="submit" class="col-md-4">
					Generate Report
				</button>				
			</div>

		</div>
	</div>
</form>