<div class="row">
	<div class="banner col-md-6 col-md-offset-3">
		Report
	</div>
</div>

<div class="row">
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Student Name</th>
					<th ng-repeat="template in report_ctrl.evaluation_templates"> {{template.name}} </th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="student in report_ctrl.student_records">
					<th>{{ student.name }}</th>

					<th ng-repeat="template in report_ctrl.evaluation_templates">

						{{ student["ratings"][template.id] }}
					</th>
				</tr>
			</tbody>
		</table>
	</div>
</div>