<div class="row">
	<div class="banner col-md-4 col-md-offset-4">
		My Schools
	</div>
</div>

<div class="row classes_overview" ng-repeat="school in schools_ctrl.schools" ng-click="schools_ctrl.manageSchool(school)">
	<div class="col-md-3">
		<div class="class_name">{{school.name}}</div>
	</div>

	<div class="col-md-2">
		<div class="class_label"># of Classes:</div>
	</div>

	<div class="col-md-1">
		<div class="class_info">{{school.classes}}</div>
	</div>

	<div class="col-md-2">
		<div class="class_label"># of Teachers:</div>
	</div>

	<div class="col-md-1">
		<div class="class_info">{{school.teachers}}</div>
	</div>

	<div class="col-md-2">
		<div class="class_label"># of Students:</div>
	</div>

	<div class="col-md-1">
		<div class="class_info">{{school.students}}</div>
	</div>
</div>

<div class="row">
	<div class="col-md-3 col-md-offset-9">
		<button href="" class="class_btn" ng-click="schools_ctrl.addSchool()">
			Add New School
		</button>
	</div>
</div>
